@media (min-width: 1400px) {
  nav{
    font-size: 2em;
  }
  nav .logo{
    width: 220px;
    margin-bottom: 50px;
  }
  .welcomeText{
    font-size: 48px;
    width: 1180px;
  }
  .headerImage{
    width: 645px;
  }


}